<nav class="navbar bg-light p-3 mx-auto">
  <div class="container-fluid">
    <div class="d-flex align-items-center brand-name">
      <a href="https://www.flaticon.com/free-icons/library" title="Library icons created by nawicon - Flaticon"><img src="/assets/logo.png" class="logo" alt="Library icons created by nawicon - Flaticon"></a>
      <%= link_to "Linkrary", root_path, class: "navbar-brand mb-0 h1 brand" %>
      <p class="text-muted">Library of digital books </p>
    </div>
  </div>
</nav>

<%= render "form", book: @book %>