<nav class="navbar bg-light p-3 mx-auto">
  <div class="container-fluid">
    <div class="d-flex align-items-center brand-name">
      <a href="https://www.flaticon.com/free-icons/library" title="Library icons created by nawicon - Flaticon"><img src="/assets/logo.png" class="logo" alt="Library icons created by nawicon - Flaticon"></a>

      <%= link_to "Linkrary", root_path, class: "navbar-brand mb-0 h1 brand" %>

      <p class="text-muted">Library of digital books </p>
      
      <form class="form-inline my-2 my-lg-0">
        <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
      </form>
    </div>

      <%= link_to "Add Book", new_book_path, class: "btn btn-outline-primary" %>
  </div>
</nav>

<div class="container">
    <ul class="list-group">
        <% @books.each do |book| %>
            <li class="book-list">
                <%= link_to book.title, book, class: "list-group-item list-group-item-action"%>
            </li>
        <% end %>
    </ul>
</div>
