/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

a {
	text-decoration: none;
	word-wrap:normal;
}

.icons {
	color: #6c757d
}

.logo {
	height: auto;
}

.brand {
    font-size: 2rem;
}

.navbar {
    margin-bottom: 20px;
	width: 100%;
}

.list-group {
    margin-bottom: 20px;
}

.text-danger {
	font-size: .7rem;
	font-weight: bold;
}

body {
	font-family: 'Ubuntu', sans-serif;
}

.book-list {
	width: 20%;
}

.book-list > a {
	height: 50px;
	word-wrap: break-word;
	overflow: overlay;
	min-width: 230px;
}

.list-group {
	gap: 5px;
	height: 100%;
	flex-wrap: wrap;
	align-content: baseline;
}

.container {
	height: 80vh;
}

.link {
	word-wrap: break-word;
}

@media only screen and (max-width: 540px) {
	.container {
		height: 100%;
	}

	.container-fluid {
		flex-direction: column;
		justify-content: center!important;
		align-items: center;
	}

	.book-list {
		width: 100%;
	}

	.list-group {
		flex-wrap: nowrap;
	}
}

@media only screen and (max-width: 425px) {
	.brand-name {
		flex-direction: column;
		margin-bottom: 10px;
	}

	.options {
		display: flex;
		gap: 10px;
	}
}

@media only screen and (max-width: 320px) {
	.form-options {
		display: flex;
		flex-direction: column;
		gap: 10px;
	}
}